$text-color: #40514E;
$background-color: #F5F5F5;
*{
    padding: 0;
    margin: 0;
}

.container{
    background: $background-color;
    margin: auto;
    header{
        
        h2{
            font-family:Roboto, 'Segoe UI' , Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 30px;
            font-weight: 300;
            letter-spacing: 0.25rem;
            line-height: 2.5rem;
            background-color: #40514E;
            color: $background-color;
            text-align: center;
            padding: 1.1rem;
            padding-bottom: 1.3rem;
        }
    }
    
    #task-elements{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .title{
            font-family:Roboto, 'Segoe UI' , Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 41px;
            letter-spacing: 0.25rem;
            line-height: 25px;
            font-weight: 300;
            color: $text-color;
            margin-top: 56px;
            margin-bottom: 35px;
        }   
        .taskBox{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            font-family:'Open Sans', Roboto, sans-serif;
            font-size: 20px;
            font-weight: 350;
            border-width: 1px;
            border-style: solid;
            border-radius: 1rem;
            border-color: $text-color;
            background: white;
            margin: 0 0 20px 0;
            width: 364px;
            height: 76px;
            input{
                margin-left: 0.8rem;
                margin-bottom: 0.05rem;
                letter-spacing: 0.1rem;
                height: 4.5rem;
                width: 17rem;
                font-size: 1.6rem;
                color: $text-color;
                border: none;
            }
            input:focus, textarea:focus, select:focus{
            outline: none;
            }
            button{
                border: solid;
                border-radius: 50%;
                border-width: 1px;
                background-color:white;
                width: 38px;
                height: 38px;
                margin: 0 1.2rem 1.2rem 1.2rem;
            }
        }
        .delete{
            display: none;
        }
    }
    
    #buttons{
        margin: auto;
        //padding-top: 50%;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
        max-width:364px;
        &:focus{
            outline: none;
            border: none;
        }
        button{
            background: white;
            font-family:'Open Sans', Roboto, sans-serif;
            font-size: 22px;
            font-weight: 400;
            letter-spacing: 0.2rem;
            border-width: 1px;
            border-style: solid;
            border-radius: 1rem;
            border-color: $text-color;
            padding: 0.7rem 1.45rem;
        }
        .Clear{
            margin-left: 1.8rem;
        }
        .Add-item{
            background-color: #2F89FC;
            font-size: 20px;
            color: #F5F5F5;
            border-width: 0;
            padding: 0.9rem 1.1rem;
            margin-right: 1.8rem;
        }
    }
}
